In [1]:
#loading need libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats #importowanie bibliotek
%matplotlib inline

test = pd.read_csv("C:/Users/Mateusz/Desktop/folder_3/folder_3/input/test.csv") #zczytywanie dancyh z pliku do zmiennej test
test_shape = test.shape #wymiary dancyh z pliku test
print(test_shape) #wyswietlenie wymiarów pliku test

(1459, 80)

In [2]:
train = pd.read_csv("C:/Users/Mateusz/Desktop/folder_3/folder_3/input/train.csv") #zczytywanie dancyh z pliku do zmiennej train
train_shape = train.shape #wymiary dancyh z pliku train
print(train_shape)  #wyswietlenie wymiarów pliku train

(1460, 81)

In [3]:
train.head(100) # wyświetlenie pierwszych 100 wierszy z pliku train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
96,97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
97,98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
98,99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
99,100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

In [4]:
#Let's check if the data set has any missing values. 
train.columns[train.isnull().any()] #sprawdzamy które kolumy mają brakujące wartości

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [5]:
for col in ('BsmtFinType2', 'BsmtExposure', 'BsmtFinType1', 'BsmtCond', 'BsmtQual', 'PoolQC', 'MiscFeature', 'Alley', 'Fence',
           'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond','MasVnrType'):
    train[col] = train[col].fillna('None') #brakujące wartości uzupełniemy wartością 'None'
    
for col in ['GarageYrBlt', 'GarageArea', 'GarageCars','MasVnrArea']:
    train[col] = train[col].fillna(int(0)) #brakujące wartości typu int uzupełniemy wartością '0'

train['LotFrontage'] = train.groupby("Neighborhood")["LotFrontage"].transform(lambda x: x.fillna(x.median()))

train['Electrical'] = train['Electrical'].fillna(train['Electrical']).mode()[0]

train = train.drop(['Utilities'], axis=1) #usuwamy kolumne Utilities

In [2]:
cols = ('FireplaceQu', 'BsmtQual', 'BsmtCond', 'GarageQual', 'GarageCond', 
        'ExterQual', 'ExterCond','HeatingQC', 'PoolQC', 'KitchenQual', 'BsmtFinType1', 
        'BsmtFinType2', 'Functional', 'Fence', 'BsmtExposure', 'GarageFinish', 'LandSlope',
        'LotShape', 'PavedDrive', 'Street', 'Alley', 'CentralAir', 'MSSubClass', 'OverallCond', 
        'YrSold', 'MoSold', 'MSZoning', 'LandContour', 'LotConfig', 'Neighborhood',
        'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
        'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'Foundation', 'GarageType', 'MiscFeature', 
        'SaleType', 'SaleCondition', 'Electrical', 'Heating') #deklarujemy zminną przechowującą wszystkie kolumny ze zminnymi tekstowymi

In [3]:
from sklearn.preprocessing import LabelEncoder #importowanie bibliotek
for c in cols:
    lbl = LabelEncoder() 
    lbl.fit(list(train[c].values)) 
    train[c] = lbl.transform(list(train[c].values)) #enkodowanie tesktu na wartosci liczbowe

NameError: name 'train' is not defined

In [8]:
for col in ('BsmtFinType2', 'BsmtExposure', 'BsmtFinType1', 'BsmtCond', 'BsmtQual', 'PoolQC', 'MiscFeature', 'Alley', 'Fence',
           'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond','MasVnrType'):
    test[col] = test[col].fillna('None') #brakujące wartości uzupełniemy wartością 'None'
    
for col in ['GarageYrBlt', 'GarageArea', 'GarageCars','MasVnrArea']:
    test[col] = test[col].fillna(int(0)) #brakujące wartości typu int uzupełniemy wartością '0'

test['LotFrontage'] = test.groupby("Neighborhood")["LotFrontage"].transform(lambda x: x.fillna(x.median()))

test['Electrical'] = test['Electrical'].fillna(train['Electrical']).mode()[0]

test = test.drop(['Utilities'], axis=1) #usuwamy kolumne Utilities

In [9]:
for c in cols:
    lbl = LabelEncoder() 
    lbl.fit(list(test[c].values)) 
    test[c] = lbl.transform(list(test[c].values)) #enkodowanie tesktu na wartosci liczbowe

In [10]:
print("Find most important features relative to target")
corr = train.corr()
corr.sort_values(['SalePrice'], ascending=False, inplace=True)
corr.SalePrice #szukamy kolumn które są najbaerdziej powiązane z kolumną 'SalePrice'

Find most important features relative to target

SalePrice       1.000000
OverallQual     0.790982
GrLivArea       0.708624
GarageCars      0.640409
GarageArea      0.623431
                  ...
GarageFinish   -0.425684
KitchenQual    -0.589189
BsmtQual       -0.593734
ExterQual      -0.636884
Electrical           NaN
Name: SalePrice, Length: 80, dtype: float64

In [11]:
y = train['SalePrice'] #tworzymy wektor z kolumny 'SalePrice'
del train['SalePrice'] #kasujemy kolumne 'SalePrice'
X = train.values #akrualne wartosci tabeli train przepisujemy do zmiennej X
y = y.values  #aktualne wartosci tabeli y przepisujemy do zmiennej y

In [12]:
y2 = train['Id'] #tworzymy wektro z koulmy 'Id'
X2 = train.values #przepisujemy wartosci tabelki train do zmiennej X2

In [13]:
from sklearn.model_selection import train_test_split #importowanie modelu
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7) #podzielenie na zmienne testowe oraz trenujace
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=1, random_state=7) #podzielenie na zmienne testowe oraz trenujace

from sklearn.ensemble import GradientBoostingRegressor #importowanie modelu dla regresji(dane wyjściowe to liczby przjmujące różne wartości)
GBR = GradientBoostingRegressor(n_estimators=100, max_depth=4)

GBR.fit(X_train, y_train) #dopoasowywanie modelu

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=4,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [14]:
print("Accuracy --> ", GBR.score(X_test, y_test)*100) #Sprawdzanie jakości modelu

Accuracy -->  92.14651550898412

In [15]:
tab2 = GBR.predict(X2_train) #zapisanie do zmiannej tab2przewidziane ceny
tab2

array([186928.72862703, 167571.34669708, 122440.99068939, ...,
       122904.35133887, 114910.33817455, 228779.71796347])

In [16]:
tab1=[]
for n in range(test.shape[0]):
    tab1.append(test['Id'][n]) #tworzenie kolumny ID

In [17]:
submission = pd.DataFrame({'Id':tab1,'SalePrice':tab2}) #tworzenie tabeli przewidzianych cech wraz z odpowiednimy do nich numerami ID

submission.head(test.shape[0]) #wyswietlenie sworzonej tabeli

        Id      SalePrice
0     1461  186928.728627
1     1462  167571.346697
2     1463  122440.990689
3     1464  124496.033568
4     1465  305271.554912
...    ...            ...
1454  2915  180144.243879
1455  2916  144003.017661
1456  2917  122904.351339
1457  2918  114910.338175
1458  2919  228779.717963

[1459 rows x 2 columns]

In [18]:
filename = 'House Prices Advanced Regression Techniques TUL WEEIA AIR Ania Michal Mateusz Predictions.csv'#nazwa pliku

submission.to_csv(filename,index=False) #zapisanie tabeli w pliku

print('Saved file: ' + filename)

Saved file: House Prices Advanced Regression Techniques TUL WEEIA AIR Ania Michal Mateusz Predictions.csv